h1 {
  color:red;
  text-align: left;
}

/* portfolio*/
h2 {
  font-style: italic;
  text-align: center;
  color: rgb(73 60 85);
  
}

p {
  text-align: center;
  font-family: sans-serif;
  color:darkslateblue
}

h3 {
  text-align: center;
  color: rgb(73 60 85);
}

img {
  float: left;
  width: 200px;
  border-radius: 50px;
}

/* div span */
span {
  text-transform: uppercase;
  text-align: center;

}